{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" id="gallery">
        <div class="row flex-box flex-wrap-wrap">
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center" data-bs-hover-animate="pulse"><a class="fancybox" rel="gallery1" title="Hero Image Nature" href="{% static 'img/hero-background-nature.jpg' %}"><img class="img-fluid" src="{% static 'img/hero-background-nature.jpg' %}"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center" data-bs-hover-animate="pulse"><a class="fancybox" rel="gallery1" title="Hero Image Technology" href="{% static 'img/hero-background-technology.jpg' %}"><img class="img-fluid" src="{% static 'img/hero-background-technology.jpg' %}"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center" data-bs-hover-animate="pulse"><a class="fancybox" rel="gallery1" title="Hero Image Travel" href="{% static 'img/hero-background-travel.jpg' %}"><img class="img-fluid" src="{% static 'img/hero-background-travel.jpg' %}"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center" data-bs-hover-animate="pulse"><a class="fancybox" rel="gallery1" title="Hero Image Food" href="{% static 'img/hero-background-food.jpg' %}"><img class="img-fluid" src="{% static 'img/hero-background-food.jpg' %}"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center" data-bs-hover-animate="pulse"><a class="fancybox" rel="gallery1" title="Hero Image Music" href="{% static 'img/hero-background-music.jpg' %}"><img class="img-fluid" src="{% static 'img/hero-background-music.jpg' %}"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center" data-bs-hover-animate="pulse"><a class="fancybox" rel="gallery1" title="Hero Image Photography" href="{% static 'img/hero-background-photography.jpg' %}"><img class="img-fluid" src="{% static 'img/hero-background-photography.jpg' %}"></a></div>
        </div>
    </div>
{% endblock %}