{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row register-form">
        <div class="col-md-8 offset-md-2 swing animated">
            {% if obj is not Null and not edit %}
            <form action="{% url 'register' %}" method="post" class="custom-form">
                {% csrf_token %}
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">College Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="College_Name" placeholder="College Name" value="{{ obj.College_Name }}" disabled></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">College Email &nbsp;ID</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="email" name="College_Email_ID" placeholder="Email ID" value="{{ obj.College_Email_ID }}" disabled></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Place</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="Place" placeholder="Place" value="{{ obj.Place }}" disabled></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Team Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="Team_Name" placeholder="Team Name" value="{{ obj.Team_Name }}" disabled></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Contact No</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="tel" name="Mob_No" placeholder="Contact No" value="{{ obj.Mob_No }} " disabled></div>
                </div>
                <button class="btn btn-light submit-button" type="submit" name="edit" value="edit">Edit Form</button>
            </form>
            {% elif edit %}
            <form action="{% url 'register' %}" method="post" class="custom-form">
                {% csrf_token %}
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">College Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="College_Name" placeholder="College Name" value="{{ obj.College_Name }}"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">College Email &nbsp;ID</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="email" name="College_Email_ID" placeholder="Email ID" value="{{ obj.College_Email_ID }}"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Place</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="Place" placeholder="Place" value="{{ obj.Place }}"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Team Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="Team_Name" placeholder="Team Name" value="{{ obj.Team_Name }}"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Contact No</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="tel" name="Mob_No" placeholder="Contact No" value="{{ obj.Mob_No }}"></div>
                </div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" name="terms" value="Marked" required><label class="form-check-label" for="formCheck-1">I've read and accept the all protocols and conditions</label></div>
                <button class="btn btn-light submit-button" type="submit" name="sub" value="halt">Update Form</button>
            </form>
            {% else %}
            <form action="{% url 'register' %}" method="post" class="custom-form" >
                {% csrf_token %}
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">College Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="College_Name" placeholder="College Name"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">College Email &nbsp;ID</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="email" name="College_Email_ID" placeholder="Email ID"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Place</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="Place" placeholder="Place"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Team Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="Team_Name" placeholder="Team Name"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Contact No</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="tel" name="Mob_No" placeholder="Contact No"></div>
                </div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" name="terms" value="Apple"><label class="form-check-label" for="formCheck-1">I've read and accept the all protocols and conditions</label></div>
                <button class="btn btn-light submit-button" type="submit" value="halt" name="edit">Submit Form</button>
            </form>
            {% endif %}
        </div>
    </div>

{% endblock %}